@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
:root{
    --dark_100: #121212;
    --dark_200: #282828;
    --dark_300: #3f3f3f;
    --dark_400: #575757;
    --dark_500: #717171;
    --dark_600: #8b8b8b;
    --night: #212121;
    --green_100: #0bdb27;
    --green_200: #4ce048;
    --green_300: #44FFA1;
    --dark_gradient: #010f0d;
    --green_gradient1: #064232;
    --green_gradient2: #289175;
    --white: #FFFFFF;
    --green_400: #afffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Outfit';
}


.header{
    & h1{
        font-size: 36px;
    }
    & .button{
        margin: 1rem 0rem;
    }
    & a{
        border-radius: 10px;
        padding: 0.5rem 1.5rem;
        background-color: red;
        text-decoration: none;
        color: white;
    }
    & a:hover{
        background-color: darkred;
    }
}

input{
    border-radius: 5px;
}
label{
    font-size: 24px;
}

@keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(650px);
    }
  }

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 300px;
}

.star-position2 {
  top: 110px;
  left: 550px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1080px;
}